@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import "tailwindcss";

body {
  background-color: #fff9ee;
}

@keyframes heroZoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.08);
  }
}

.section2-pagination {
  position: static !important;
  width: 100% !important;
}

.section2-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 4px !important;
  background: #d9d9d9;
  opacity: 1;
}

.section2-pagination .swiper-pagination-bullet-active {
  background: #39a96b;
}

.section2-prev.swiper-button-disabled,
.section2-next.swiper-button-disabled {
  opacity: 0.25;
  pointer-events: none;
}

@keyframes circleUp {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.circle-up {
  opacity: 0;
  animation: circleUp 0.8s ease-out forwards;
}

.circle-delay-1 {
  animation-delay: 0.15s;
}

.circle-delay-2 {
  animation-delay: 0.35s;
}

.circle-delay-3 {
  animation-delay: 0.55s;
}
