@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import "tailwindcss";

body {
  background-color: #ffffff;
  color: #292929;
}

/* 히어로 배경 확대 */
@keyframes heroZoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.08);
  }
}

/* 페이지네이션 */
.section2-pagination {
  position: static !important;
  width: 100% !important;
}

.section2-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  margin: 0 5px !important;
  background-color: #292929;
  opacity: 0.2;
  transition: all 0.3s ease;
}

.section2-pagination .swiper-pagination-bullet-active {
  background-color: #ff6b81;
  opacity: 1;
}

/* 비활성화된 화살표 */
.section2-prev.swiper-button-disabled,
.section2-next.swiper-button-disabled {
  opacity: 0.25;
  pointer-events: none;
}

@keyframes heroMovie {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  18% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scale(1.07);
  }
}
